<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-6">
      <canvas baseChart class="chart"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [type]="lineChartType"></canvas>
</div>
<div class="col-5">
  <ngx-charts-bar-vertical
  [view]="[900, 300]"
  scheme="cool"
  [results]="single"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="legend"
  legendTitle="Leyenda"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="'Variable'"
  [yAxisLabel]="'Valor'"
>
</ngx-charts-bar-vertical>


</div>
    <div class="col-5 mt-3">
      <ngx-charts-gauge
      [view]="[500,300]"
      [min]="0"
      [max]="20"
      [results]="valvula"
      [units]="'bar'"
      [legend]="legend"
      legendTitle=""
      [legendPosition]="legendPosition"
      [showText]="showText"
      [tooltipDisabled]="tooltipDisabled">
      </ngx-charts-gauge>
    </div>
    <div class="col-7">
      <mat-card class="example-card" [ngStyle]="lineChartStyles" style="width: 20em;  position: relative; top: 7em;">
        <mat-card-header>
          <mat-card-title style="color: white;">Alarma Posición Interna Valvulas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="color: white;">Indicación de estado</p>
          <p style="color: white;">Mayor a 40° Color Verde, Máx 90° (Apertura Total Valvula)</p>
          <p style="color: white;">Menor o igual a 40° Color Rojo</p>
          <mat-divider></mat-divider>
          <mat-progress-bar color="accent"  mode="indeterminate"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


